/**************************************************************************/
/***********************    Configurações Gerais    ***********************/
/**************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

/**************************************************************************/
/***********************    Cabeçalho    **********************************/
/**************************************************************************/

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    width: 1080px;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
}

.logo, .menu {
    display: flex;
    align-items: center;
}

.menu-mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin: 40px 0;
}

#menu {
    display: block;
    background-image: url('../images/menu.png');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li.ativo a {
    color: #0cb8b6;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}

nav ul li a:hover {
    color: #0cb8b6;
}

/**************************************************************************/
/***********************    Banner    *************************************/
/**************************************************************************/

#banner {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

#banner .container {
    flex-direction: column;
}

.banner-heading {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner-heading h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 70px;
    color: #232323;
    max-width: 350px;
}

.banner-heading h1 span {
    color: #0cb8b6;
}

.banner-heading h2 {
    font-weight: 500;
    font-size: 30px;
    color: #232323;
    max-width: 350px;
    margin-top: 25px;
}

.banner-heading p {
    font-size: 16px;
    color: #232323;
    max-width: 350px;
    margin-top: 25px;
}

.banner-options {
    min-height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    padding: 20px;
    color: white;
}

.banner1 {
    background-color: #4fdfdc;
}

.banner2 {
    background-color: #0cb8b6;
}

.banner3 {
    background-color: #0a7c7a;
}

.banner-options h2 {
    font-size: 21px;
    text-transform: uppercase;
}

.banner-options p {
    font-size: 14px;
    margin: 20px 0;
}

.banner-options a {
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    text-decoration: none;
}

.banner-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid #76a5a5;
    padding-bottom: 10px;
}

/**************************************************************************/
/***********************    Conteúdo Principal    *************************/
/**************************************************************************/

main {
    display: flex;
    justify-content: center;
}

main section {
    flex: 2;
}

main aside {
    flex: 1;
}

.widget-title {
    margin: 30px 0 20px;
}

.widget-title h2 {
    color: #232323;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.widget-title hr {
    width: 50px;
    border: 1.5px solid #0cb8b6;
    margin-top: 10px;
}

.widget-body {
    display: flex;
    flex-wrap: wrap;
}

.widget-body .box {
    flex: 1;
    min-width: 110px;
    height: 150px;
    background-color: #0cb8b6;
    margin-bottom: 25px;
}

.widget-body .box:nth-child(2n + 1) {
    margin-right: 25px;
}

.widget-body > p {
    padding-bottom: 40px;
    color: #666;
}

.widget-body .widget-item {
    padding: 10px 0;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    display: flex;
    align-items: center;
    color: #666;
}

.widget-body .widget-item:first-of-type {
    border-top: 1px solid #e7e7e7;
}

strong {
    color: black;
}

#phone, #email, #form {
    background-size: cover;
    background-position: center;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 10px;
}

#phone {
    background-image: url('../images/phone.png');
}

#email {
    background-image: url('../images/email.png');
}

#form {
    background-image: url('../images/form.png');
}

#facebook {
    background-image: url('../images/facebook.png');
}

#twit {
    background-image: url('../images/twit.png');
    width: 28px;
    height: 28px;
}

#instagram {
    background-image: url('../images/instagram.png');
    width: 28px;
    height: 30px;
}

.widget-body .widget-item a {
    color: #0cb8b6;
    text-decoration: underline dotted;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .noticias-data {
    display: flex;
}

article .postado {
    background-color: #0a7c7a;
    padding: 10px;
    color: white;
    font-size: 12px;
    margin-right: 2px;
}

article .comentarios {
    background-color: #4fdfdc;
    padding: 10px;
    color: white;
    font-size: 12px;
}

article figure {
    margin-top: 30px;
}

article figure img {
    width: 100%;
    height: auto;
}

article h3 {
    margin: 25px 0;
    color: #232323;
    font-size: 30px;
}

article p {
    color: #666;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 30px;
}

/**************************************************************************/
/***********************    Rodapé    *************************************/
/**************************************************************************/

footer {
    background-color: #1d2024;
    display: flex;
    justify-content: center;
}

footer .container {
    flex-direction: column;
}

.footer-menu {
    display: flex;
    flex: 1;
}

.menu1, .menu2, .menu3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.menu1 {
    background-color: #4fdfdc;
}

.menu2 {
    background-color: #0cb8b6;
}

.menu3 {
    background-color: #0a7c7a;
}

.menu1 p, .menu2 p, .menu3 p {
    margin-top: 10px;
}

.footer-area {
    flex: 1;
    display: flex;
    color: white;
}

.footer-area-item {
    flex: 1;
}

footer .widget h2 {
    color: white;
}

footer .widget p {
    color: #ccc;
    line-height: 22px;
    margin-right: 10px;
}

.widget-endereco {
    display: flex;
    justify-content: space-between;
}

.widget-endereco p:first-of-type {
    margin-right: 25px;
}

.widget-endereco p:last-of-type {
    margin-right: 10px;
}

.widget-endereco a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.widget-social {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.widget-social a {
    flex: 1;
    background-size: cover;
    background-position: center;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 10px;
}

.post, .tweet {
    margin-bottom: 25px;
}

.post {
    margin-right: 10px;
}

.post a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    line-height: 22px;
}

.post span, .tweet span {
    display: block;
    margin-top: 5px;
    color: #0cb8b6;
    font-weight: 600;
}

.tweet a {
    color: #ccc;
    text-decoration: none;
    font-size: 15px;
}

.tweet a strong {
    color: white;
}

.footer-copy {
    margin-top: 30px;
    border-top: 1px solid #e7e7e7;
    padding: 20px 0;
    color: white;
}

.footer-copy a {
    color: #0cb8b6;
    text-decoration: none;
    font-weight: 600;
}

@media only screen and (max-width: 1024px) {
    header .logo {
        width: 164px;
    }

    .logo img {
        width: 100%;
    }

    nav ul li a {
        padding: 8px;
        font-size: 14px;
    }

    .widget-endereco {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    header {
        height: auto;
    }

    header .logo {
        width: auto;
    }

    .menu-mobile {
        display: block;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        top: 120px;
        width: 100%;
        background-color: white;
    }

    nav ul li a {
        padding: 15px;
        font-size: initial;
    }

    .widget-body .box:nth-child(2n + 1) {
        margin-right: 0;
    }

    #form {
        width: 42px;
    }
}

@media only screen and (max-width: 600px) {
    #banner {
        height: auto;
        background-position: right bottom;
    }

    .banner-heading {
        padding-bottom: 20px;
    }

    .banner-heading h1 {
        font-size: 55px;
    }

    .banner-heading h2 {
        font-size: 25px;
    }

    .banner-options {
        flex-direction: column;
        height: auto;
    }

    main .container {
        flex-direction: column;
    }

    article {
        margin-right: 0;
    }

    aside {
        padding-bottom: 20px;
    }

    .widget-body .box {
        min-width: 120px;
    }

    .widget-body .box:nth-child(1n + 1) {
        margin-right: 20px;
    }

    #form {
        width: 32px;
    }

    .footer-menu {
        flex-direction: column;
    }

    .footer-area {
        flex-direction: column;
    }

    .widget-endereco {
        flex: 1;
        flex-direction: row;
    }
}

@media only screen and (max-width: 452px) {
    .widget-body .box {
        min-width: 130px;
    }

    .widget-body .box:nth-child(1n + 1) {
        margin-right: 0;
    }

    .widget-body .box:nth-child(2n + 1) {
        margin-right: 20px;
    }
}