/**************************************************************************/
/***********************    Configurações Gerais    ***********************/
/**************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/**************************************************************************/
/***********************    Cabeçalho    **********************************/
/**************************************************************************/

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    width: 1080px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-color: chartreuse;
}